<div class="flex flex-col items-start bg-white rounded-lg md:flex-row md:max-w-xl">
  <img class="object-cover w-full h-96 rounded md:h-auto md:w-48 " src="{{ productImage }}" alt="">
  <div class="flex flex-col justify-between p-4 leading-normal">
    <div class="flex justify-between">
      <h2 class="font-bold">{{ productName }}</h2>
      <p class="mt-1 text-lg font-medium text-gray-900">{{ productPrice }} RON</p>
    </div>
    <p class="">Here is the full description of the product. Here is the full description of the product. Here is the full description of the product. Here is the full description of the product.</p>
    <app-size-selector></app-size-selector>
    <div class="flex justify-between mt-5">
      <app-cart-quantity [quantity]="0"></app-cart-quantity>
      <app-button (click)="closeDialog()" color="primary" icon="fa-solid fa-cart-shopping">Add to Cart</app-button>
    </div>
  </div>
</div>
