<mat-dialog-content class="overflow-visible ProductEffectsle mat-typography ">

  <h2>Search products</h2>

  <form class="mb-5">
      <div class="flex justify-between">
        <input id="search" class="block p-4 pl-5 w-full text-sm text-gray-900 bg-gray-50 rounded-lg border border-gray-300 focus:outline-none" placeholder="Enter search query...">
<!--        <app-button color="primary" icon="fa-solid fa-search"> Search</app-button>-->
      </div>
  </form>

  <h3 class="mb-5">Results: </h3>

<app-search-product-result></app-search-product-result>


</mat-dialog-content>

