<mat-dialog-content class="overflow-visible ProductEffectsle mat-typography ">

  <h2>Search products</h2>

      <div class="mb-5 flex justify-between">
        <input [formControl]="searchControl"
               type="search" id="search"
               class="block p-4 pl-5 w-full text-sm text-gray-900 bg-gray-50 rounded-lg border border-gray-300 focus:outline-none"
               placeholder="Enter search query...">
<!--        <app-button color="primary" icon="fa-solid fa-search"> Search</app-button>-->
      </div>

  <h3 class="mb-5">Results: </h3>

<app-search-product-result [products]="results"></app-search-product-result>


</mat-dialog-content>

