<div class="bg-primary p-5">
  <div class="container">
    <div class="grid md:grid-cols-2 gap-10">
      <div>
        <h1 class="text-white">Links</h1>
        <ul class="grid sm:grid-cols-2 gap-1">
          <li><a href="#" class="block text-white py-1 px-4 transform -translate-x-4 rounded hover:bg-primary-dark">About
            us</a></li>
          <li><a href="#" class="block text-white py-1 px-4 transform -translate-x-4 rounded hover:bg-primary-dark">Terms
            and condition</a></li>
          <li><a href="#"
                 class="block text-white py-1 px-4 transform -translate-x-4 rounded hover:bg-primary-dark">GDPR</a></li>
          <li><a href="#" class="block text-white py-1 px-4 transform -translate-x-4 rounded hover:bg-primary-dark">Transport</a>
          </li>
          <li><a href="#" class="block text-white py-1 px-4 transform -translate-x-4 rounded hover:bg-primary-dark">Warranty</a>
          </li>
        </ul>
      </div>

      <div class="space-y-4">
        <div class="flex items-center flex-wrap gap-2">
          <a href="https://facebook.com" target="_blank"
             class="text-xl text-white w-10 h-10 bg-primary-dark border-2 border-primary-light block flex items-center justify-center rounded-lg hover:bg-primary-light">
            <i class="fa-brands fa-facebook-f"></i>
          </a>
          <a href="https://twitter.com" target="_blank"
             class="text-xl text-white w-10 h-10 bg-primary-dark border-2 border-primary-light block flex items-center justify-center rounded-lg hover:bg-primary-light">
            <i class="fa-brands fa-twitter"></i>
          </a>
          <a href="https://instagram.com" target="_blank"
             class="text-xl text-white w-10 h-10 bg-primary-dark border-2 border-primary-light block flex items-center justify-center rounded-lg hover:bg-primary-light">
            <i class="fa-brands fa-instagram"></i>
          </a>
        </div>
        <div class="flex flex-wrap items-center gap-4 text-5xl text-white">
          <i class="fa-brands fa-cc-visa"></i>
          <i class="fa-brands fa-cc-mastercard"></i>
          <i class="fa-brands fa-cc-paypal"></i>
          <i class="fa-brands fa-cc-apple-pay"></i>
          <i class="fa-brands fa-cc-amex"></i>
        </div>
      </div>
    </div>
  </div>
</div>
