<div class="grid grid-cols-1 gap-y-10 sm:grid-cols-2 gap-x-6 lg:grid-cols-3 xl:grid-cols-4 xl:gap-x-8">

<div *ngFor="let product of products" class="max-w-sm bg-white rounded-lg shadow-md dark:bg-gray-200 dark:border-gray-700">
  <a href="#">
    <img class="rounded-t-lg w-full" src="{{ product.img }}" alt="" />
  </a>
  <div class="p-5">
    <a href="#">
      <div class="flex justify-between">
        <h3 class="mt-4 text-sm text-gray-700">{{ product.name }}</h3>
        <p class="mt-1 text-lg font-medium text-gray-900">{{ product.price }} RON</p>
      </div>
    </a>
    <p class="mb-3 text-gray-500">{{ product.caption }}</p>
  </div>
  <div class="flex justify-between pt-0 pb-5 px-3">
    <app-button color="primary" icon="fa-solid fa-shopping-cart" (click)="addToCart(product)">Cart</app-button>
    <app-button mat-raised-button color="secondary" icon="fa-solid fa-eye"
                (click)="openDialog(product)">Preview</app-button>
  </div>
</div>

</div>


