<div class="grid grid-cols-1 gap-y-10 sm:grid-cols-2 gap-x-6 lg:grid-cols-3 xl:grid-cols-4 xl:gap-x-8">

  <div class="group">
    <a href="#">
    <div class="w-full aspect-w-1 aspect-h-1 bg-gray-200 rounded-lg overflow-hidden xl:aspect-w-7 xl:aspect-h-8">
      <img src="https://tailwindui.com/img/ecommerce-images/category-page-04-image-card-03.jpg" alt="Person using a pen to cross a task off a productivity paper card." class="w-full h-full object-center object-cover group-hover:opacity-75">
    </div>
    <h3 class="mt-4 text-sm text-gray-700">Focus Paper Refill</h3>
    <p class="mt-1 text-lg font-medium text-gray-900">$89</p>
    </a>
    <div class="flex justify-between">
      <app-button color="primary" icon="fa-solid fa-cart-shopping">Cart</app-button>
      <button class="bg-pink-700 hover:bg-pink-600 text-white font-bold py-2 px-4 rounded-full" mat-button (click)="openDialog()">Preview</button>
    </div>
  </div>

</div>

