

  <div class="max-w-sm bg-white rounded-lg shadow-md dark:bg-gray-200 dark:border-gray-700">
    <a href="#">
      <img class="rounded-t-lg" src="https://tailwindui.com/img/ecommerce-images/category-page-04-image-card-03.jpg" alt="" />
    </a>
    <div class="p-5">
      <a href="#">
        <div class="flex justify-between">
          <h3 class="mt-4 text-sm text-gray-700">Paper</h3>
          <p class="mt-1 text-lg font-medium text-gray-900">$89</p>
        </div>
      </a>
      <p class="mb-3 text-gray-500">Caption</p>
    </div>
    <div class="flex justify-between pt-0 pb-5 px-3">
      <app-button color="primary" icon="fa-solid fa-shopping-cart">Cart</app-button>
      <app-button mat-raised-button (click)="openDialog()" color="secondary" icon="fa-solid fa-eye">Preview</app-button>
    </div>
  </div>


